* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.Product-card {
  max-width: 450px;
  padding: 20px 30px;
  margin: 0 auto;
  border: 2px solid rgb(241, 47, 47);
  border-radius: 30px;
}

.Product-card__code {
  float: right;
  color: gray;
  font-size: 18px;
}

.Product-card__image {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto 50px;
}

.Discounts {
  display: flex;
  margin-bottom: 20px;
}

.Discounts__item {
  padding: 5px 15px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(230, 22, 22);
  border-radius: 5px;
}

.Product-rating {
  display: flex;
  align-items: center;
}

.Product-rating__stars {
  width: 100px;
  height: 50px;
  margin-right: 15px;
}

.Product-price__title {
  margin-bottom: 10px;
}

.Price-value {
  margin-bottom: 10px;
}

.Price-value__final-price {
  font-size: 30px;
  color: rgb(224, 27, 27);
  margin-right: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Price-value__cashback {
  font-size: 20px;
  background-color: rgb(227, 227, 120);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Price-value__prev-price {
  color: gray;
  text-decoration: line-through;
  font-weight: bold;
  font-size: 24px;
}

.Buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Buy__button {
  padding: 10px 100px;
  border-radius: 50px;
  background-color: rgb(31, 125, 31);
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: all .3s;
}

.Buy__button:hover {
  background-color: rgb(43, 186, 108);
}

.Buy__icon {
  width: 40px;
  height: 30px;
  cursor: pointer;
  transition: all .3s;
}

.Buy__icon:hover {
  transform: scale(1.2);
}

@media (max-width: 440px) {
  .Product-card__image {
    width: 100%;
    height: auto;
  }
  .Buy {
    justify-content: space-evenly;
  }

  .Buy__button {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width: 350px) {
  .Price-value__final-price {
    display: block;
  }
}